*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#div1{
    height: 200px;
    width: 200px;
    background-image: url(image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#div2{
    height: 200px;
    width: 200px;
    background: url(image.png) no-repeat center/cover;
}
