body {
    background-color: #000000;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    border-bottom: 2px solid green;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: #00FF00;
    font-size:32px;
    font-weight: bold;
}

nav a {
    color: #00FF00;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover {
    color: #003300;
    background-color: #00FF00;
}


#header2 {
    text-align: center;
    padding: 60px 20px;
}

#header2 h2 {
    color: #00FF00;
    font-size: 40px;
}

#header2 p {
    font-size: 20px;
}


#about {
    padding: 30px 15px;
    text-align: center;
}

#about h2 {
    color: #00FF00;
    font-size: 32px;
}

#about p {
    font-size: 16px;
}


#products {
    padding: 40px 20px;
}

#products h2 {
    color: #00FF00;
    text-align: center;
    font-size: 32px;
}


#cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}


#card1, #card2, #card3 {
    background-color: #000000;
    border: 2px solid #00FF00;
    border-radius: 12px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: 0.3s;
}

#video {
    margin-top: 40px;
    background-color: #000000;
    border: 2px solid #00FF00;
    border-radius: 12px;
    padding: 50px;
    text-align: center;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#video h2 {
    font-size: 24px;
}

#video video {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

#video p {
    font-size: 16px;
}


#card1:hover, #card2:hover, #card3:hover {
    border-color: white;
    transform: scale(1.03);
}

#card1 h2, #card2 h2, #card3 h2 {
    font-size: 19px;
}

#card1 img, #card2 img, #card3 img {
    width: 100%;
    border-radius: 5px;
}

#card1 p, #card2 p, #card3 p {
    font-size: 15px;
}

footer {
    border-top: 2px solid green;
    background-color: #000000;
    text-align: center;
    padding: 20px;
    color: #00FF00;
    font-weight: bold;
}
