*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 500px;
    height: 500px;
    background-image: url("image1.png");
    background-position: bottom right;
    background-size: 150px;
    background-repeat: repeat-x;
    border: 1px solid red;
    /* background: url("image1.png") bottom right repeat-x / 150px; */
}



