*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    width: 400px;
    height: 250px;
    background-image: url("image1.png");
    background-position: left bottom;
    background-size: 80px;
    background-repeat: repeat-y;
    border: 1px solid red;
    /* background: url("image1.png") left bottom repeat-y / 80px; */
}









