*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    width: 400px;
    height: 250px;
    background-image: url("image1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid red;
    /* background: url("image1.png") center no-repeat / contain; */
}



