*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    background-image: url("image1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid red;
    /* background: url("image1.png") center no-repeat / cover; */
}




