*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#first{
    height: 100vh;
    background: url("image1.png") no-repeat center / cover;
}

#second{
    width: 500px;
    height: 500px;
    background: url("image2.png") no-repeat center / contain;
}




