*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    background-color: red;
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: task;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: 4;
}

@keyframes task{
    0%{
        background-color: yellow;
        top: 50px;
    }

    50%{
        background-color: blue;
        border-radius: 20px;
        right: 50px;
        transform: rotate(40deg);
    }

    100%{
        background-color: orange;
        border-radius: 50%;
        border: 1px solid red;
    }
}







