*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    width: 200px;
    height: 200px;
    background-color: red;
    transform: rotate(45deg);
}

@keyframes task2{
    from{
        
    }
}




