*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.parent{
    display: grid;
    grid-template-columns: 150px 170px 100px 150px 160px;
    grid-template-rows: 100px 80px 50px 100px;
    gap: 10px;
}

.dd{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.dd2{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

.dd3{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
}

.d1{
    background-color: #f1463d;
}

.dd4{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.dd5{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.d2{
    background-color: #2cc5cf;
}

.dd6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.dd7{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.d3{
    background-color: #d6b269;
}

.dd8{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

.dd9{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.d4{
    background-color: white;
}


