@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: "League Spartan", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent{
    height: 563px;
    width: 1110px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

#child1{
    width: 100%;
    height: 45%;
    display: flex;
    gap: 20px;
}

#child2{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#inside1{
    height: 100%;
    width: 50%;
}

#inside2{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 15px;
}

#inside1 h1{
    color: hsl(300, 43%, 22%);
    font-size: 55px;
    line-height: 0.9;
}

#inside1 p{
    color: hsl(303, 10%, 53%);
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
}


.div1{
    color: hsl(300, 43%, 22%);
    font-weight: bold;
    background-color: #f7f2f8;
    display: flex;
    gap: 30px;
    align-items: center;
    border-radius: 8px;
    width: 445px;
    height: 56px;
    padding: 0px 30px;
}

.p1{
    color: hsl(300, 43%, 22%);
    font-size: 17px;
    font-weight: bold;
}

#div1-1{
    align-self: start;
    margin-left: 5px;
}

#div1-2{
    align-self: center;
    margin-left: 5px;
}

.stars{
    display: flex;
    gap: 7px;
}

.people{
    background-color: #511f50;
    border-radius: 8px;
    width: 350px;
    height: 234px;
    padding: 40px 31px;
}

.information{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.photos{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.name{
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.name2{
    color: #EE69A4;
    font-size: 17px;
    font-weight: 400;
}

.pp{
    color: white;
    line-height: 1.4;
}

.text{
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

#Colton-Smith{
    align-self: start;
}


#Anne-Wallace{
    margin-top: 40px;
}