@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Luckiest+Guy&display=swap');


h1{
    font-family: "Luckiest Guy", cursive;
}


p{
    font-family: "Bitcount Grid Double", system-ui;
}



