*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    background-color: red;
    width: 300px;
    height: 300px;
}

.child{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: relative;
    top: 33%;
    left: 33%;
}