/* 1) შექმენი ერთი დივი რომელშიც მოთავსებული გექნებათ სათაური
და პარაგრაფი და დივს მიანიჭეთ ერთი კლასი და ერთი id. 
კლასს მიანიჭეთ ფერი, უკანა ფონის ფერი, ზომა, ზღვარი და დააყენეთ ცენტრში, 
ხოლო id-ის მიანიჭეთ განსხვავებული ფერი და განსხვავებული უკანა ფონის ფერი. 
(დღევანდელ ყველა დავალებაში გამოიყენეთ ან RGB ან HEX ფერებისთვის.) */


.div1{
    color: rgb(100, 0, 100);
    background-color: #004090;
    font-size: 30px;
    border: 3px solid rgb(100, 0, 250);
    text-align: center;
}

#div2{
    color: rgb(150, 255, 0);
    background-color: #009010;
}















