/* 3) შექმენი ერთი დივი რომელშიც მოთავსებული იქნება ერთი პარაგრაფი.
ამ დივს გაუწერეთ კლასი და პარაგრაფსაც გაუწერეთ კლასი,
მიანიჭეთ განსხვავებული სტილები, დააკვირდით შედეგს. */


.div1{
    color: rgb(140, 0, 255);
    background-color: #000000;
    font-size: 50px;
    text-align: center;
    border: 7px solid darkmagenta;
}

.div2{
    color: rgb(100, 40, 0);
    background-color: #700000;
    font-size: 40px;
    text-align: left;
    border: 5px solid rgb(50, 0, 0);
}




