/* 4) შექმენით section თეგი რომელშიც მოთავსებული იქნება ერთი h1 სათაური.
ამ სექციას გაუწერეთ id და კლასიც. External CSS-ით ყველა ნასწავლი სტილები განსხვავებული
მნიშვნელობებით მიანიჭეთ id-საც და კლასსაც, და ასევე h1-ს მიანიჭეთ ყველა ნასწავლი
სტილების განსხვავებული მნიშვნელობები inline CSS-ის გამოყენებით. */


#section1{
    color: rgb(255, 0, 0);
    background-color: #000000;
    font-size: 30px;
    text-align: center;
    border: 7px solid rgb(150, 0, 0);
}

.section2{
    color: rgb(0, 255, 0);
    background-color: #000000;
    font-size: 40px;
    text-align: right;
    border: 6px solid rgb(0, 67, 0);
}


