/* 6) შექმენით დივი რომელშიც მოთავსებული გექნებათ 2 პარაგრაფი და 2 სათაური,
და ეს  2 პარაგრაფი და 2 სათაური გასტილეთ id-ით, კლასით, Style Inheritance-ით,
ელემენტის სელექტორით, Inline CSS-ით.
ყველა სტილების მნიშვნელობები იყოს ერთმანეთისგან განსხვავებული. */


#p1id{
    color: rgb(100, 40, 0);
    background-color: #700000;
    font-size: 40px;
    text-align: left;
    border: 5px solid rgb(50, 0, 0);
}


#p2id{
    color: rgb(140, 0, 255);
    background-color: #000000;
    font-size: 50px;
    text-align: center;
    border: 7px solid darkmagenta;
}

#h1id{
    color: rgb(0, 255, 0);
    background-color: #000000;
    font-size: 40px;
    text-align: right;
    border: 6px solid rgb(0, 67, 0);
}

#h2id{
    color: rgb(255, 0, 0);
    background-color: #000000;
    font-size: 30px;
    text-align: center;
    border: 7px solid rgb(150, 0, 0);
}

.p1{
    color: rgb(200, 100, 0);
    background-color: #000000;
    font-size: 45px;
    text-align: center;
    border: 7px solid rgb(255, 100, 0);
}

.h1{
    color: rgb(100, 40, 0);
    background-color: #700000;
    font-size: 40px;
    text-align: left;
    border: 5px solid rgb(50, 0, 0);
}

div p{
    color: rgb(0, 0, 255);
    background-color: #000000;
    font-size: 40px;
    text-align: right;
    border: 5px solid rgb(0, 0, 150);
}

div h1{
    color: rgb(150, 255, 0);
    background-color: #009010;
    font-size: 40px;
    text-align: center;
    border: 6px solid rgb(0, 67, 0);
}

p{
    color: rgb(140, 0, 255);
    background-color: #000000;
    font-size: 50px;
    text-align: center;
    border: 7px solid darkmagenta;
}

h1{
    color: rgb(255, 0, 0);
    background-color: #000000;
    font-size: 30px;
    text-align: center;
    border: 7px solid rgb(150, 0, 0);
}



