/* 7) შექმენით დივი რომელშიც მოთავსებული იქნება 2 განსხვავებული დივი -
პირველ დივში ეწეროს დალაგებული სია პინგვინების სახეობებზე და მეორე დივში
ეწეროს დაულაგებელი სია ამ პინგვინების რაოდენობაზე. ორივე დივი გასტილეთ
ყველა ნასწავლი მეთოდით, id-ით, კლასებით, Style Inheritance-ით,
ელემენტის სელექტორით, Inline CSS-ით. */



#div1id{
    color: rgb(0, 255, 0);
    background-color: #000000;
    font-size: 40px;
    text-align: right;
    border: 6px solid rgb(0, 67, 0);
}


#div2id{
    color: rgb(200, 100, 0);
    background-color: #000000;
    font-size: 45px;
    text-align: center;
    border: 7px solid rgb(255, 100, 0);
}



.div1class{
    color: rgb(0, 0, 255);
    background-color: #000000;
    font-size: 40px;
    text-align: right;
    border: 5px solid rgb(0, 0, 150);
}



.div2class{
    color: rgb(140, 0, 255);
    background-color: #000000;
    font-size: 50px;
    text-align: center;
    border: 7px solid darkmagenta;
}


div #div1id{
    color: rgb(100, 40, 0);
    background-color: #700000;
    font-size: 40px;
    text-align: left;
    border: 5px solid rgb(50, 0, 0);
}


div #div2id{
    color: rgb(255, 0, 0);
    background-color: #000000;
    font-size: 30px;
    text-align: center;
    border: 7px solid rgb(150, 0, 0);
}

div{
    color: rgb(150, 255, 0);
    background-color: #009010;
    font-size: 40px;
    text-align: center;
    border: 6px solid rgb(0, 67, 0);
}





