/* 8) შექმენით ორგვერდიანი საიტი სადაც იქნება ახსნილი HTML-ის და CSS-ის
შექმნის და განვითარების ისტორია. გამოიყენეთ ახალი ნასწავლი მასალა - სპეციფიკურობა და RGB. */


body{
    background-color: rgb(230, 240, 255);
    text-align: center;
}

#nav1{
    background-color: rgb(40, 70, 150);
}

#nav1 a{
    color: rgb(255, 255, 255);
    font-size: 22px;
}

#div1{
    border: 4px solid rgb(40, 70, 150);
}

#div1 img{
    border: 3px solid rgb(100, 120, 200);
}

#div1 p{
    font-size: 25px;
    color: rgb(30, 30, 80);
}

footer{
    background-color: rgb(40, 70, 150);
}

footer a{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

