
table{
    border-collapse: collapse;
}

tr{
    border:1px solid rgb(187, 186, 186);
}

tr:nth-child(3){
    background-color: rgb(241, 241, 241);
}

tr:nth-child(1){
    background-color: rgb(2, 160, 99);
    color: white;
}


