/* შექმენით 10 ღილაკი ვებსაიტზე

ამ 10 ღილაკიდან პირველ 5 ღილაკს მიანიჭეთ შემდეგი სტილები  ფერი წითელი , ზომა 40px ,უკანა ფონი მწვანე , border 3px purple

და დანარჩენ 5 ღლაკს მიანიჭეთ შემდეგი სტილები ფერი სტაფილოსფერი , ზომა 20px ,უკანა ფონი იასამნისფერი , border საერთოდ არ ქონდეს */



.button1{
    color: red;
    font-size: 40px;
    background-color: green;
    border: 3px solid purple;
}

.button2{
    color: orange;
    font-size: 20px;
    background-color: purple;
}

