*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div1{
    width: 600px;
    height: 600px;
    background-color: red;
}

@media (max-width: 1000px) {
    .div1{
        background-color: green;
        width: 500px;
        border-radius: 10px;
    }
}

@media (max-width: 600px) {
    .div1{
        background-color: blue;
        width: 400px;
        border-radius: 30px;
    }
}

@media (max-width: 400px) {
    .div1{
        background-color: pink;
        width: 300px;
        border-radius: 50%;
    }
}














