/* 1)შექმენით 5 პარაგტაფი ,თქვენი დავალებაა რომ 5 ივე პარაგრაფს მიანჭოთ ერთმანეთსგან განსხვავებული სტილები,გამოიყენეთ id ატრიბუტი */

#p1{
    color: cyan;
    background-color: blue;
    text-align: center;
    font-size: 20px;
    border: 3px solid darkblue;
}

#p2{
    color: red;
    background-color: pink;
    text-align: right;
    font-size: 23px;
    border: 5px solid red;
}

#p3{
    color: green;
    background-color: greenyellow;
    text-align: center;
    font-size: 30px;
    border: 3px solid darkgreen;
}

#p4{
    color: purple;
    background-color: plum;
    text-align: left;
    font-size: 20px;
    border: 3px solid darkblue;
}

#p5{
    color: brown;
    background-color: burlywood;
    text-align: center;
    font-size: 20px;
    border: 3px solid red;
}
