/* 2)შექმენით 3 დივი,სამივე დივში მოათავსეთ თით თითო პარაგრაფები და ამ პარაგრაფებში მოათავსეთ i თეგებიც
თქვენი დავალებაა რომ გასტილოთ სამივე i თეგი განსხვავებულად, id ატრიბუტი მიეცით იმმ თეგს რასაც საჭიროდ ჩათვლით
და როგორც მოგაფიქრდებათ,შეგიძლიათ გამოიყენოთ style inheritance ც,მთავარია რომ პირობა დაკმაყოფილდეს და სამივე i
თეგი იყოს განსხვავებული ერთმანეთისგან,გამოიყენეტ ID ატრიბუტი */

#first_i {
    color: cyan;
    background-color: blue;
    font-size: 27px;
    border: 5px solid darkblue;
}

#second_i {
    color: red;
    background-color: palevioletred;
    font-size: 25px;
    border: 4px solid pink;
}

#third_i {
    color: brown;
    background-color: burlywood;
    font-size: 30px;
    border: 3px solid red;
}