* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* მთავარი კონტეინერის სტილი (ფონი და ცენტრირება) */
.loader-container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    min-height: 100vh;
    background-color: #3b74f2;
    /* სურათის მსგავსი ლურჯი ფონი */
}

/* სპინერის ძირითადი კონტეინერი */
.spinner {
    position: relative;
    width: 150px;
    height: 150px;
}

/* წერტილების (დივების) საერთო სტილი */
.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    /* ყველა დივი არის თეთრი */
    border-radius: 50%;

    /* წერტილების ცენტრიდან გადანაცვლება */
    top: 0;
    left: 65px;
    /* (კონტეინერის სიგანე / 2) - (წერტილის სიგანე / 2) */
    transform-origin: 10px 75px;
    /* ბრუნვის ცენტრი: (წერტილის რადიუსი) და (კონტეინერის რადიუსი) */
}


.dot:nth-child(1) {
    transform: rotate(0deg);

}

.dot:nth-child(2) {
    transform: rotate(30deg);

}

.dot:nth-child(3) {
    transform: rotate(60deg);

}

.dot:nth-child(4) {
    transform: rotate(90deg);
  
}

.dot:nth-child(5) {
    transform: rotate(120deg);
}

.dot:nth-child(6) {
    transform: rotate(150deg);
}

.dot:nth-child(7) {
    transform: rotate(180deg);
}

.dot:nth-child(8) {
    transform: rotate(210deg);
}

.dot:nth-child(9) {
    transform: rotate(240deg);

}

.dot:nth-child(10) {
    transform: rotate(270deg);
}

.dot:nth-child(11) {
    transform: rotate(300deg);
}

.dot:nth-child(12) {
    transform: rotate(330deg);
    
}
