body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#ffffff;
}

.heart{
    width:120px;
    height:120px;
    background:#ff6243;
    position:relative;
    transform:rotate(45deg);
    animation:beat 1s infinite alternate;
}

.div1{
    width:120px;
    height:120px;
    background:#ff6243;
    border-radius:50%;
    position:absolute;
    top:-60px;
    left:0;
}

.div2{
    width:120px;
    height:120px;
    background:#ff6243;
    border-radius:50%;
    position:absolute;
    top:0;
    left:-60px;
}

@keyframes beat{
    0%{
        transform:rotate(45deg) scale(1);
    }

    25%{
        transform:rotate(45deg) scale(1.15);
    }

    50%{
        transform:rotate(45deg) scale(1);
    }

    100%{
        transform:rotate(45deg) scale(1);
    }
}





