@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');



a:link{
    color: rgb(143, 0, 143);
    background-color: rgb(206, 154, 255);
    font-family: "Bitcount Grid Double", system-ui;
}








