@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');


li{
    font-size: 50px;
}



li:hover{
    background-color: coral;
    text-transform: uppercase;
    font-family: "Bitcount Grid Double", system-ui;
}








