@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 540px;
    height: 168px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header h1{
    width: 444px;
    font-weight: 200;
    font-size: 36px;
    color: #4D4F62;
}

.header h2{
    width: 441px;
    font-weight: 600;
    font-size: 36px;
    color: #4D4F62;
}

.header p{
    margin-top: 16px;
    width: 540px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    opacity: 70%;
    color: #4D4F62;
}

.main{
    width: 1110px;
    height: 530px;
    margin-top: 64px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 110px 110px 110px 110px;
    gap: 30px;
}

.div1,.div2,.div3,.div4{
    background-color: white;
    width: 350px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 250px;
    box-shadow: 10px 10px 10px grey;
}

.div1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    border-top: 4px solid hsl(180, 62%, 55%);
    gap: 6px;
}

.div2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border-top: 4px solid hsl(0, 78%, 62%);
    gap: 6px;
}

.div3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    border-top: 4px solid hsl(34, 97%, 64%);
    gap: 6px;
}

.div4{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    border-top: 4px solid hsl(212, 86%, 64%);
    gap: 6px;
}

img{
    width: 64px;
    height: 64px;
    margin-top: 30px;
    align-self: flex-end;
}

.div1 h2{
    font-weight: 600;
    font-size: 20px;
    color: #4D4F62;
}

.div1 p{
    width: 286px;
    opacity: 50%;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #4D4F62;
}

.div2 h2{
    width: 135px;
    font-weight: 600;
    font-size: 20px;
    color: #4D4F62;
}

.div2 p{
    width: 286px;
    opacity: 50%;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #4D4F62;
}

.div3 h2{
    font-weight: 600;
    font-size: 20px;
    color: #4D4F62;
}

.div3 p{
    width: 286px;
    opacity: 50%;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #4D4F62;
}

.div4 h2{
    font-weight: 600;
    font-size: 20px;
    color: #4D4F62;
}

.div4 p{
    width: 286px;
    opacity: 50%;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #4D4F62;
}

