#parent{
    height: 300px;
    width: 300px;
    border: 3px solid blue;
    display: flex;
    flex-wrap: nowrap;
}

.child{
    height: 120px;
    width: 120px;
    background-color: rgb(60, 0, 128);
    border: 2px solid rgb(0, 140, 255);
}



