*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parent{
    height: 400px;
    border: 3px solid rgb(0, 0, 0);
    display: flex;
}


.child{
    height: 60px;
    background-color: rgb(77, 0, 128);
    border: 2px solid rgb(0, 41, 128);
    flex-basis: 200px;
}

#div1{
    flex-shrink: 1;
}

#div2{
    flex-shrink: 2;
}

#div3{
    flex-shrink: 3;
}

