/* 1) შექმენით 10 პარაგრაფი, აქედან ყოველივე პარაგრაფს გაუწერეთ კლასები. პირველ 4 პარაგრაფს მიანიჭეთ ლურჯი ფერი,
ზომა 25px, ფონის ფერი წითელი და ზღვარის ფერი იყოს მწვანე, ზომით 4px და solid. შემდეგი 3 პარაგრაფს მიანიჭეთ ფერი მწვანე,
ზომა 45px, სამივე პარაგრაფი იდგეს ცენტრში, ფონის ფერი ჰქონდეთ ყვითელი და ზღვარის ფერი იყოს იასამნისფერი, 7px და solid.
ბოლო 3 პარაგრაფს მიანიჭეთ ფერი ნარინჯისფერი, ზომა 14px, ფონის ფერი ლურჯი,
სამივე პარაგრაფი იდგეს მარცხნივ და ზღვარის ფერი იყოს ვარდისფერი, 2px და solid. */


.first{
    color: blue;
    font-size: 25px;
    background-color: red;
    border: 4px solid green;
}

.second{
    color: green;
    font-size: 45px;
    text-align: center;
    background-color: yellow;
    border: 7px solid purple;
}


.third{
    color: orange;
    font-size: 14px;
    background-color: blue;
    text-align: left;
    border: 2px solid pink;
}

