/* 6) შექმენით დივი რომლშიც მოათავსებთ 3 პარაგრაფს, 3 ღილაკს, პარაგრაფებს გაუწერეთ კლასები და მიანიჭეთ შემდეგი სტილები: ფერი ვარდისფერი,
ზომა 30px, ფონის ფერი ლურჯი, ყველა სათაური იდგეს ცენტრში და ზღვარის ფერი იყოს მწვანე, 4px და solid.
ღილაკებს მიანიჭეთ განსხვავებული სტილები, გამოიყენეთ style inheritance. */


.paragraf{
    color: pink;
    font-size: 30px;
    background-color: blue;
    text-align: center;
    border: 4px solid green;
}


div button{
    color:coral;
    background-color: black;
    font-size: 40px;
    text-align: center;
    border: 5px solid darkgoldenrod;
}





