/* 8) შექმენით დივი და ამ დივში შექმენით 5 პარაგრაფი, 5 ღილაკი და 5 სათაური.
პარაგრაფები გასტილეთ კლასებით, ღილაკები გასტილეთ style inheritance-ით და სათაურები გასტილეთ id-ებით. */



.paragraf{
    color:coral;
    background-color: black;
    font-size: 40px;
    text-align: center;
    border: 5px solid darkgoldenrod;
}

div button{
    color: purple;
    background-color: black;
    font-size: 50px;
    text-align: center;
    border: 7px solid darkmagenta;
}


#first{
    color: blue;
    background-color: black;
    font-size: 40px;
    text-align: center;
    border: 5px solid darkblue;
}

#second{
    color:gold;
    background-color: black;
    font-size: 45px;
    text-align: left;
    border: 7px solid goldenrod;
}

#third{
    color: burlywood;
    background-color: black;
    font-size: 30px;
    text-align: right;
    border: 7px solid brown;
}


#fourth{
    color:deepskyblue;
    background-color: black;
    font-size: 40px;
    text-align: center;
    border: 5px solid blue;
}


#fifth{
    color: red;
    background-color: black;
    font-size: 30px;
    text-align: left;
    border: 7px solid darkred;
}






