*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: blue;
}

body{
    height: 500vh;
}

img{
    position: sticky;
    top: 0px;
    width: 200px;
    height: 200px;
}