*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

#First{
    background-color: #282c30;
}

#Second{
    background-color: #1573fd;
    position: relative;
    top: 50px;
    right: 150px;
    z-index: 1;
}

#Third{
    background-color: #208b59;
    position: relative;
    top: 100px;
    right: 300px;
}