*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    font-size: 18px;
    text-decoration: none;
    transition: color 1.2s, text-decoration 1s, font-size 0.3s;
}

a:hover{
    color: coral;
    text-decoration: underline;
    font-size: 30px;
}

















