*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    width: 200px;
    height: 200px;
    background-color: crimson;
    transition: scale 0.15s, rotate 2.4s, background-color 1.3s;
}

div:hover{
    transform: scale(0.7) rotate(30deg);
    background-color: coral;
}










