*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button{
    width: 200px;
    height: 200px;
    color: red;
    transition: transform 0.3s, box-shadow 0.7s 0.1s , color 0.2s; 
}

button:hover{
    transform: scale(1.5);
    color: blue;
    box-shadow: 3px 3px 3px black;
}












