body{text-align: center;
    background-color:blue;
}

nav{border: 3px solid cyan;
    background-color: lightblue;
    font-size: 20px;
}

p{color: white;
    font-size: 20px;
}

a{color: white;
    font-size: 20px;
}