body{text-align: center;
    background-color:lightblue;
}

nav{background-color:lightskyblue;
    font-size: 20px;
    border: 3px solid cyan;
}

h1{color: cyan;}

p{color: gray;
    font-size: 20px;
}


