body{text-align: center;
    background-color:lightblue;
}

nav{border: 3px solid yellow;
    background-color: darkkhaki;
    font-size: 20px;
}

h1{color: yellow;}

p{color: yellow;
    font-size: 20px;
}

footer{font-size: 20px;
}