@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 132px;
}

.headerdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.headerdiv div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

header img{
    width: 140px;
}   


header button{
    color: white;
    background-color: #4CAF4F;
    border: none;
    padding: 15px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    font-size: 13px;
}

button img{
    width: 15px;
}


.burgermenu{
    display: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F7FA;
    width: 100%;
    padding: 70px 132px;
}


.imgdiv1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


.txtdiv h1{
    font-size: 55px;
    width: 70%;
    color: #4D4D4D;
}

.txtdiv span{
    color: #4CAF4F;
}

.txtdiv p{
    color: #717171;
    font-size: 14px;
}

.txtdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 35px;
}

.txtdiv2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.illu{
    width:85%;
}

.txtdiv button{
    background-color: #4CAF4F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
}

.dot{
    width: 40px;
    position: relative;
    top: 55px;
    right: 85px;
}

.txtdiv3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.clients{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 50px 120px;
}

.txtdiv3 h1{
    font-weight: 600;
    color:#4D4D4D;
    font-size: 36px;
}
.txtdiv3 p{
    color:#717171;
    font-size: 16px;
}

.griddiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 170px;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 35px 132px;
    gap: 20px;
}

.sdiv1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.sdiv1 h1{
    color: #4D4D4D;
    font-size: 36px;
    width: 32%;
}

.sdiv1 p{
    color: #717171;
}

.sdiv2{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    gap: 250px;
    flex-wrap: wrap;
}

.samediv{
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 4px 5px rgb(233, 233, 233);
    border-radius: 7px;
}

.samediv p{
    color: #717171;
}

.samediv img{
    width: 70px;
}

.samediv h1{
    width: 200px;
    color: #4D4D4D;
}

.samep{
    width: 280px;
}

.diffp{
    width: 270px;
}

.section3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
}

.section3 img{
    width: 33%;
}

.sec3div{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 25px;
    width: 39.5%;
}

.sec3div h1{
    color: #4D4D4D;
    font-size: 36px;
    width: 89.4%;
}


.sec3div p{
    color: #717171;
    font-size: 16px;
    width: 100%;
}

.sec3div button{
    background-color: #4CAF4F;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 15px;
}

.section5{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #F5F7FA;
    padding: 50px 95px;
}


.imgdv1{
    display: grid;
    grid-template-columns: 220px 220px;
    grid-template-rows: 100px 100px;
    align-items: center;
    justify-content: center;
}

.txtdiv6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.txtdiv6 h1{
    color: #4D4D4D;
    font-size: 36px;
}

.txtdiv6 span{
    color: #4CAF4F;
}

.txtdiv6 p{
    color: #18191F;
    font-weight: 400;
    font-size: 16px;
}

.samedivv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.samedivv img{
    width: 40px;
}

.samedivv h1{
    font-size: 24px;
    color: #4D4D4D;
    width: 120px;
}

.samedivv p{
    font-size: 16px;
    color: #717171;
}

.diffs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3px;
}

#imgsa{
    width: 55px;
}


.section6{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 100px;
}

.section6 img{
    width: 33%;
}

.panadiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 25px;
    width: 40.5%;
}

.panadiv h1{
    color: #4D4D4D;
    font-size: 36px;
    width: 89%;
}

.panadiv p{
    color: #717171;
    font-size: 16px;
    width: 100%;
    line-height: 1.4;
}

.panadiv button{
    background-color: #4CAF4F;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
}

.section7{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: #F5F7FA;
    gap: 20px;
}

.elonmusk{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 60%;
    gap: 20px;
}

.elonmusk p{
    font-size: 16px;
    color: #717171;
    line-height: 1.5;
    width: 79.3%;
}

.elonmusk h3{
    color: #4CAF4F;
    font-weight: 600;
    font-size: 22px;
}

.elonmusk h4{
    font-size: 16px;
    color: #89939E;
    font-weight: 400;
}

.child1{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.child1 img{
    width: 50px;
}

.customer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.customer h1{
    font-size: 22px;
    font-weight: 600;
    color: #4CAF4F;
}

.customer img{
    width: 23px;
}

.tesla{
    width: 400px;
}

@media (max-width:1815px){
    .griddiv{
        gap: 60px;
    }

    .sdiv2{
        gap: 70px;
    }

    .clients{
        padding: 50px 50px;
    }

    .section2{
        padding: 35px 50px;
    }

    .sec3div{
        width: 50%;
    }

    .child1{
        gap: 20px;
        justify-content: start;
        flex-wrap: wrap;
    }
}

@media (max-width:1300px){
    .section3{
        padding: 50px 30px;
    }

    .section3 img{
        width: 40%;
    }

    .sec3div{
        width: 55%;
    }

    .section6{
        padding: 30px;
    }

    .section6 img{
        width: 40%;
    }
    
    .panadiv{
        width: 60%;
    }

    .section7{
        padding: 20px 30px;
    }

    .tesla{
        width: 300px;
        height: 300px;
    }

    .elonmusk p{
        width: 100%;
    }

    .elonmusk{
        width: 65%;
    }
}

@media (max-width:1020px){
    header{
        padding: 30px 40px;
    }

    .section1{
        padding: 70px 40px;
    }

    .txtdiv2 h1{
        font-size: 40px;
        width: 90%;
    }

    .clients{
        padding: 40px 40px;
    }

    .section2{
        padding: 25px 40px;
    }

    .txtdiv3 h1{
        font-size: 40px;
    }

    .sdiv1 h1{
        font-size: 40px;
        width: 70%;
    }

    .sec3div{
        width: 80%;
    }

    .section3{
        padding: 50px 20px;
    }

    .section5{
        flex-direction: column;
    }

    .txtdiv6{
        align-items: center;
        text-align: center;
    }

    .section5{
        gap: 20px;
    }

    .section6{
        padding: 100px 20px;
    }

    .panadiv{
        width: 80%;
    }

    .section7{
        padding: 20px;
    }
}


@media (max-width:850px){
    header{
        padding: 30px 20px;
    }
    
    .section1{
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }

    .txtdiv , .txtdiv2 , .txtdiv3 , .sdiv1{
        align-items: center;
    }

    .dot{
        right: 0;
    }

    .sdiv1{
        padding: 20px 20px;
    }

    .samediv{
        width: 300px;
    }

    .griddiv{
        gap: 35px;
    }

    .sdiv1 h1{
        font-size: 36px;
    }
    
    .section3{
        flex-direction: column;
    }

    .sec3div{
        align-items: center;
        text-align: center;
    }

    .section3 img{
        width: 55%;
    }

    .section6{
        flex-direction: column;
        gap: 40px;
    }

    .section6 img{
        width: 65%;
    }

    .panadiv{
        align-items: center;
        text-align: center;
    }

    .section7{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .elonmusk{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .child1{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}


@media (max-width:800px){
    .text1{
        display: none;
    }

    .burgermenu{
        display: block;
        width: 26px;
    }

    .txtdiv2 h1{
        font-size: 35px;
        width: 65%;
    }

    .txtdiv2 p{
        font-size: 14px;
        width: 90%;
    }

    .imgdiv1{
        width: 400px;
    }

    .griddiv{
        gap: 50px;
    }

    .griddiv img{
        width: 50px;
    }
    
    .txtdiv3{
        text-align: center;
    }

    .txtdiv3 h1{
        font-size: 30px;
        width: 80%;
    }

    .txtdiv3 p{
        font-size: 14px;
    }

    .sdiv1 h1{
        font-size: 28px;
    }

    .sdiv1 p{
        font-size: 14px;
    }

    .samediv img{
        width: 50px;
    }

    .samediv h1{
        font-size: 28px;
    }

    .samediv p{
        font-size: 14px;
        width: 220px;
    }

    .section3 img{
        width: 85%;
    }

    .sec3div h1{
        font-size: 28px;
    }

    .sec3div p{
        width: 80%;
        font-size: 14px;
    }

    .txtdiv6 h1{
        font-size: 29px;
        width: 95%;
    }

    .txtdiv6 p{
        font-size: 14px;
    }

    .diffs h1{
        font-size: 26px;
    }

    .diffs p{
        font-size: 12px;
    }


    .samedivv img{
        width: 25px;
    }

    #imgsa{
        width: 45px;
    }

    .imgdv1{
        grid-template-columns: 170px 170px;
    }

    .section5{
        padding: 50px 35px;
    }
    

    .panadiv p{
        width: 95%;
    }

}

@media (max-width:430px){
    .headerdiv button{
        padding: 10px 24px;
    }

    .headerimg{
        width: 120px;
    }

    .burgermenu{
        display: block;
        width: 22px;
    }

    .txtdiv2 h1{
        font-size: 30px;
        width: 80%;
    }

    .imgdiv1{
        width: 270px;
    }

    .clients{
        padding: 50px 24px;
    }

    .sdiv1 h1{
        width: 300px;
    }

    .sec3div h1{
        font-size: 30px;
        width: 80%;
    }

    .sec3div{
        width: 100%;
    }

    .section3 img{
        width: 90%;
    }
    
    .imgdv1{
        grid-template-columns: 320px;
        grid-template-rows: 80px 80px 80px 80px;
    }

    .section6{
        padding: 25px 20px;
    }

    .section6 img{
        width: 260px;
    }

    .panadiv{
        width: 100%;
    }

    .panadiv h1{
        font-size: 30px;
    }

    .panadiv p{
        font-size: 14px;
    }

    .elonmusk{
        width: 100%;
    }
    .elonmusk p{
        font-size: 14px;
    }
}
