@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 132px;
}

.headerdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.headerdiv div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

header img{
    width: 140px;
}   

header button{
    color: white;
    background-color: #4CAF4F;
    border: none;
    padding: 15px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    font-size: 13px;
}

button img{
    width: 15px;
}


.burgermenu{
    display: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F7FA;
    width: 100%;
    padding: 70px 132px;
}


.imgdiv1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


.txtdiv h1{
    font-size: 55px;
    width: 70%;
    color: #4D4D4D;
}

.txtdiv span{
    color: #4CAF4F;
}

.txtdiv p{
    color: #717171;
    font-size: 14px;
}

.txtdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 35px;
}

.txtdiv2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.illu{
    width:85%;
}

.txtdiv button{
    background-color: #4CAF4F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
}

.dot{
    width: 40px;
    position: relative;
    top: 55px;
    right: 85px;
}


@media (max-width:1020px){
    header{
        padding: 30px 40px;
    }

    .section1{
        padding: 70px 40px;
    }

    .txtdiv2 h1{
        font-size: 40px;
        width: 90%;
    }
}


@media (max-width:850px){
    header{
        padding: 30px 20px;
    }
    
    .section1{
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }

    .txtdiv , .txtdiv2{
        align-items: center;
    }

    .dot{
        right: 0;
    }
}


@media (max-width:800px){
    .text1{
        display: none;
    }

    .burgermenu{
        display: block;
        width: 26px;
    }

    .txtdiv2 h1{
        font-size: 35px;
        width: 65%;
    }

    .txtdiv2 p{
        font-size: 13px;
        width: 90%;
    }
}

@media (max-width:430px){
    .headerdiv button{
        padding: 10px 24px;
    }

    .headerimg{
        width: 120px;
    }

    .burgermenu{
        display: block;
        width: 22px;
    }

    .txtdiv2 h1{
        font-size: 30px;
        width: 80%;
    }
}
