@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 132px;
}

.headerdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.headerdiv div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

header img{
    width: 140px;
}   

header button{
    color: white;
    background-color: #4CAF4F;
    border: none;
    padding: 15px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    font-size: 13px;
}

button img{
    width: 15px;
}


.burgermenu{
    display: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F7FA;
    width: 100%;
    padding: 70px 132px;
}


.imgdiv1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


.txtdiv h1{
    font-size: 55px;
    width: 70%;
    color: #4D4D4D;
}

.txtdiv span{
    color: #4CAF4F;
}

.txtdiv p{
    color: #717171;
    font-size: 14px;
}

.txtdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 35px;
}

.txtdiv2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.illu{
    width:85%;
}

.txtdiv button{
    background-color: #4CAF4F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
}

.dot{
    width: 40px;
    position: relative;
    top: 55px;
    right: 85px;
}

.txtdiv3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.clients{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 50px 120px;
}

.txtdiv3 h1{
    font-weight: 600;
    color:#4D4D4D;
    font-size: 36px;
}
.txtdiv3 p{
    color:#717171;
    font-size: 16px;
}

.griddiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 170px;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 35px 132px;
    gap: 20px;
}

.sdiv1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.sdiv1 h1{
    color: #4D4D4D;
    font-size: 36px;
    width: 32%;
}

.sdiv1 p{
    color: #717171;
}

.sdiv2{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    gap: 250px;
    flex-wrap: wrap;
}

.samediv{
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 4px 5px rgb(233, 233, 233);
    border-radius: 7px;
}

.samediv p{
    color: #717171;
}

.samediv img{
    width: 70px;
}

.samediv h1{
    width: 200px;
    color: #4D4D4D;
}

.samep{
    width: 280px;
}

.diffp{
    width: 270px;
}

@media (max-width:1815px){
    .griddiv{
        gap: 60px;
    }

    .sdiv2{
        gap: 70px;
    }

    .clients{
        padding: 50px 50px;
    }

    .section2{
        padding: 35px 50px;
    }
}

@media (max-width:1020px){
    header{
        padding: 30px 40px;
    }

    .section1{
        padding: 70px 40px;
    }

    .txtdiv2 h1{
        font-size: 40px;
        width: 90%;
    }

    .clients{
        padding: 40px 40px;
    }

    .section2{
        padding: 25px 40px;
    }

    .txtdiv3 h1{
        font-size: 40px;
    }

    .sdiv1 h1{
        font-size: 40px;
        width: 70%;
    }
}


@media (max-width:850px){
    header{
        padding: 30px 20px;
    }
    
    .section1{
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }

    .txtdiv , .txtdiv2 , .txtdiv3 , .sdiv1{
        align-items: center;
    }

    .dot{
        right: 0;
    }

    .sdiv1{
        padding: 20px 20px;
    }

    .samediv{
        width: 300px;
    }

    .griddiv{
        gap: 35px;
    }

    .sdiv1 h1{
        font-size: 36px;
    }
}


@media (max-width:800px){
    .text1{
        display: none;
    }

    .burgermenu{
        display: block;
        width: 26px;
    }

    .txtdiv2 h1{
        font-size: 35px;
        width: 65%;
    }

    .txtdiv2 p{
        font-size: 14px;
        width: 90%;
    }

    .imgdiv1{
        width: 400px;
    }

    .griddiv{
        gap: 50px;
    }

    .griddiv img{
        width: 50px;
    }
    
    .txtdiv3{
        text-align: center;
    }

    .txtdiv3 h1{
        font-size: 30px;
        width: 80%;
    }

    .txtdiv3 p{
        font-size: 14px;
    }

    .sdiv1 h1{
        font-size: 28px;
    }

    .sdiv1 p{
        font-size: 14px;
    }

    .samediv img{
        width: 50px;
    }

    .samediv h1{
        font-size: 28px;
    }

    .samediv p{
        font-size: 14px;
        width: 220px;
    }



}

@media (max-width:430px){
    .headerdiv button{
        padding: 10px 24px;
    }

    .headerimg{
        width: 120px;
    }

    .burgermenu{
        display: block;
        width: 22px;
    }

    .txtdiv2 h1{
        font-size: 30px;
        width: 80%;
    }

    .imgdiv1{
        width: 270px;
    }

    .clients{
        padding: 50px 24px;
    }

    .sdiv1 h1{
        width: 300px;
    }
}
