div ul li{
    color: red;
    font-size: 35px;
    border: 3px solid green;
    background-color: blue;
}

nav ul li{
    color: brown;
    font-size: 50px;
    border: 3px solid purple;
    background-color: yellow;
}






