#car1{
    color: darkgreen;
    background-color: black;
    text-align: center;
    font-size: 30px;
    border: 4px solid green;
}

#car2{
    color: red;
    background-color: pink;
    text-align: center;
    font-size: 25px;
    border: 3px solid brown;
}

#car3{
    color: blue;
    background-color: darkblue;
    text-align: center;
    font-size: 27px;
    border: 5px solid lightblue;
}

#car4{
    color: purple;
    background-color: plum;
    text-align: center;
    font-size: 34px;
    border: 2px solid black;
}

#car5{
    color: orangered;
    background-color: orange;
    text-align: center;
    font-size: 31px;
    border: 4px solid red;
}

