#td1{
    background-color: yellow;
}

#td2{
    background-color: orange;
}

#td3{
    background-color: greenyellow;
}


#td4{
    background-color: bisque;
}

#td5{
    background-color: lightcoral;
}


#td6{
    background-color: bisque;
}


#td7{
    background-color: red;
}

#td9{
    background-color: lightblue;
}



