/* 1)შექმენი 4 ღილაკი

პირველ ღილაკს ქონდეს ----- ოთხივე მხარეს დაშორება ბორდერსა და კონტნტს შორის 40px

მეორე ღილაკს ქონდეს ----- ზემოდან და ქვემოდან 30px და მარჯვნიდან და მარცხნიდან 20px

მესამე ღილაკს ქონდეს ----- ზემოდან 10px მარჯვნიდან 20px ქვემოდან 50px მარცხნიდან 100px

მეოთხე ღილაკს ქონდეს ---- დაშორება მხოლოდ ქვემოდან 50px */

#b1{
    padding: 40px;
}

#b2{
    padding: 30px 20px;
}

#b3{
    padding: 10px 20px 50px 100px;
}

#b4{
    padding-bottom: 50px;
}




