@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Epilogue", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#body{
    width: 1300px;
    height: 820px;
    background-color: #fafafa;
}


header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
}


#headerdiv{
    display: flex;
    align-items: center;
    gap: 55px;
}

ol{
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
    opacity: 90%;
    font-size: 13px;
    font-weight: 600;
    color: rgb(98, 94, 94);
}


#buttondiv{
    display: flex;
    align-items: center;
    gap: 35px;
}

h2{
    font-size: 32px;
}

#login{
    border: none;
    background-color: white;
    font-size: 13px;
}

.btn{
    font-weight: 600;
    color: rgb(98, 94, 94);
    opacity: 90%;
}


#reg{
    border: 2px solid rgb(133, 133, 133);
    border-radius: 12px;
    padding: 10px 18px;
    background-color: white;
    font-size: 13px;
}

.maindiv{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 80px;
    gap: 120px;
}


.textdiv{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    gap: 45px;
}

#imgdiv{
    display: flex;
    align-items: center;
    gap: 35px;
    margin-top: 50px;
}

#photo{
    width: 430px;
}

.textdiv h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    color: hsl(0, 0%, 8%);
    width: 480px;
}

.textdiv p{
    font-size: 16px;
    color: hsl(0, 0%, 41%);
    line-height: 1.5;
    font-weight: 500;
    width: 430px;
}

.textdiv button{
    border: none;
    padding: 15px 25px;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    font-size: 17px;
}


